{% extends 'base.html' %}
{% block head %}
<title>Rush01-Profile</title>
{% endblock %}
{% block content %}
      <h1>Rush01-Profile "{{ user }}"</h1>
      <h2>Profile:</h2>
      <p> Name: {{ data.name }} </p>
      <p> Surname: {{ data.surname }} </p>
      <p> Email: {{ data.email }} </p>
      <p> Description: {{ data.description }} </p>
      {% if  data.is_staff %}
      <p> Admin: {{ data.is_staff }} </p>
      {% endif %}
      <h2>Change:</h2>
      <div>
            <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type='submit' value='Submit'/>
            </form>
      </div>

{% endblock %}