{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>School 21 discussion forum</title>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
crossorigin="anonymous"0> -->
<style>
    .box{
        border: 4px solid black;
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block content %}
    <h1>Rush01 Forum Homepage</h1>
    <h2 class="jumbotron">
        Currently active forums: {{count}}
        <form method="POST" action="{% url 'addInForum' %}">
            {% csrf_token %}
        {% if user.is_authenticated %}
        <button class="btn btn-success" style="width:fit-content; padding: 4px; 
        margin: 10px;">Add more</button>
        {% endif %}
        </form>
    </h2>
    <div class="card-columns" style="padding: 10px; margin: 20px;"></div>
        {% for forum in forums %}
            <div class="card box container">
                <h5 class="card-title">
                    <h3>{{forum.topic}}</h3>
                    <div class="card-body container">
                        <p>Topic description: {{forum.description}}</p>
                        </h5>
                        <hr>
                        <p> Username: {{forum.name}}</p>
                        <p> Date: {{forum.date_created}}</p>
                        <hr>     
                        <h4>Comments</h4>
                        {%  for discuss in discussions %}
                            {% for objs in discuss %}  
                                {% if objs.forum == forum %}
                                    {{objs.discuss}}
                                    <br>
                                {% endif %}
                            {%endfor%}
                        {%endfor%}
                        <form method="POST" action="{% url 'addInDiscussion' %}">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                            <input type="hidden" name="forum" value="{{ forum.id }}">
                        <button class="btn btn-success" style="width:fit-content; padding: 4px; 
                        margin:10px;">Start discussion</button>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        <br>
        {%endfor%}
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
    crossorigin="anonymous"></script>

      {% endblock %}
